{% macro pltItem(plt, tooltip=false) %}
    <li class="ml-1"
        {{'data-toggle="tooltip" data-placement="top" data-title="' + plt.name + '"' if tooltip}}>
        <i class="{{plt.iconClass}}"></i>
    </li>
{% endmacro %}

{% macro langItem(key, name) %}
    <li class="mr-2"><i class="lang-color lang-{{key}} mr-1"></i> {{name}}</li>
{% endmacro %}

{% macro featBtn(key, color) %}
    {% set btnId = "btn-" + key | replace('.', '') %}            
    <style>
        #{{btnId}} {
            border-color: {{color}};
        }
        #{{btnId}}:hover {
            background-color: {{color}};
        }
    </style>

    <a href="single-page.html" id="{{btnId}}" class="btn btn-featured" data-aos="fade-in" data-aos-delay="600">
        <span>Mas Información</span>
        <i class="icon-arrow-right22"></i>
    </a> 
{% endmacro %}