{% extends "layouts/base.njk" %}

{% block content %} 
<section class="section__half vh-100 row">
  {# BEGIN Featured Image #}
  <div class="section__image corner--radius col-12 col-md-6 d-flex flex-column justify-content-center align-items-center pt-9 pb-5" style="background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);">
    {# Featured Heading #}
    <div class="image__content w-60">      
      <img src="/img/profile.png" class="img-fluid ml-n8" data-aos="fade-in" data-aos-duration="2500" />
      <h5 class="font-weight-bold mt-3 mb-1 text-white">Acerca de</h5>
      <h1 class="display-4 font-weight-lighter text-white" data-aos="section-title">David Romero</h1>
    </div>
  </div>
  {# END Featured Image #}

  {# BEGIN Featured Text #}
  <div class="section__text col-12 col-md-6 py-4 py-md-0 d-flex align-items-center justify-content-center">
    <div class="text__inner text-justify" data-aos="fade-right">      
      <p>Hola, soy David Romero 👋</p>
      <p>Me apasiona la <i>&lt;programación /&gt;</i> como recurso para construir el futuro del mañana, haciendo uso de la tecnología, como el complemento ideal para alcanzar nuevas metas como sociedad.</p>
      <p>Nacido en la ciudad de Ejido, Estado Mérida. Egresado de la Universidad de Falcon en el Estado Falcon, bajo el título de Ingeniero Electrónico, mención “Telecomunicaciones”.</p>

      <div class="btn-group mt-5">
          <a href="#" target="_blank" class="btn btn-outline-dark">
              <i class="icon-profile mr-2"></i> Descargar Curriculum
          </a>
          <a href="#" 
              target="_blank"
              class="btn btn-outline-dark" 
              data-toggle="tooltip" 
              data-placement="top"
              data-title="Enviar Mensaje">
              <i class="icon-envelop"></i>
          </a>
      </div>
    </div>
  </div>
  {# END Featured Text #}
</section>

<section class="pt-8 pt-md-10">
  <div class="container">
    <div id="about__introduction" class="row">
      <div class="col-12 col-md-6" data-lottie="/img/lottie/programming.json" data-aos="zoom-in" data-aos-duration="1250"></div>
      <div class="col-12 col-md-6 text-justify">
        <h1 class="mb-4">🔗 Introduccion</h1>        
        <p data-aos="fade-up" data-aos-anchor="#about__introduction">Me encuentro en la búsqueda constante de nuevos conocimientos, y desafíos que resulten de motivación e impulso hacia el uso de nuevas tecnologías y el desarrollo de soluciones de mejor calidad.</p>
        <h6 data-aos="fade-in" data-aos-delay="150" data-aos-anchor="#about__introduction">Considerado por mis colegas como:</h6>
        <ul class="list-style-none pl-3">
          <li data-aos="fade-right" data-aos-delay="200" data-aos-anchor="#about__introduction"><span>🙋‍♂</span> Una persona proactiva.</li>
          <li data-aos="fade-right" data-aos-delay="250" data-aos-anchor="#about__introduction"><span>🤝</span> Habil en el trabajo en equipo.</li>
          <li data-aos="fade-right" data-aos-delay="300" data-aos-anchor="#about__introduction"><span>🥵</span> Eficiente en el trabajo bajo presión.</li>
        </ul>
        <h6 data-aos="fade-in" data-aos-delay="450" data-aos-anchor="#about__introduction">Durante el tiempo libre adoro:</h6>
        <ul class="list-style-none pl-3">
          <li data-aos="fade-right" data-aos-delay="500" data-aos-anchor="#about__introduction"><span>📖</span> La lectura</li>
          <li data-aos="fade-right" data-aos-delay="550" data-aos-anchor="#about__introduction"><span>🧠</span> El descubrimiento de nuevos temas</li>
          <li data-aos="fade-right" data-aos-delay="600" data-aos-anchor="#about__introduction"><span>🎮</span> Jugar a algún videojuego </li>
          <li data-aos="fade-right" data-aos-delay="650" data-aos-anchor="#about__introduction"><span>💻</span> Colaborar con proyectos de la comunidad</li>
          <li data-aos="fade-right" data-aos-delay="700" data-aos-anchor="#about__introduction"><span>🏞</span> El aire libre también es bien apreciado</li>
        </ul>
        <p data-aos="fade-up" data-aos-delay="1000" data-aos-anchor="#about__introduction">¡Hablando de la comunidad! En un mundo tan interconectado, considero un honor poder compartir conocimientos con colegas a escala global. Me apasiona la colaboración en proyectos Open Source y a menudo tomo un tiempo para atender dudas y participar en debates a través de comunidades como la Popular StackOverflow.</p>
      </div>
    </div>

    <hr class="my-9">

    <div id="about__development" class="row">
      <div class="col-12 col-md-6 text-justify">
        <h1 class="mb-4">🔗 Desarrollo Full Stack</h1>
        <p data-aos="fade-up">Bajo la premisa del <b>Desarrollo Full Stack</b>, he colaborado con maravillosos equipos bajo modalidad a distancia para la construcción de soluciones completas a la medida de los requerimientos del cliente.</p>
        <p data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#about__development">Durante más de cinco años me he desempeñado en el ámbito del <i>Freelancing</i>, contando con la oportunidad de tener interacción directa con el cliente para el desarrollo de soluciones, partiendo de la toma de requerimientos, hasta la entrega y despliegue de un producto mínimo que traiga respuesta a sus necesidades.</p>
        <p data-aos="fade-up" data-aos-delay="300" data-aos-anchor="#about__development">Asimismo, en el ámbito profesional, el trabajo en equipo y la gestión de proyectos resultan mi pasión. En donde, a través de una visión global y metodología agiles adecuadas, cada integrante aporta de forma integral: Dedicación, conocimientos y esfuerzo. Bloque por bloque hasta la entrega de resultados factibles, que proyecten el talento y la visión que nos representa 🌟</p>
      </div>
      <div class="col-12 col-md-6" data-lottie="/img/lottie/protocols.json" data-aos="zoom-in" data-aos-duration="1250"></div>
    </div>    
  </div>

  <section class="skills__container mt-9">
    <div class="row py-8 align-items-center">
      <div class="col-12 col-md-4 pl-5 pl-md-8 text-white text-justify">
        <i class="icon-code display-4"></i>
        <h1 class="text-white mb-4">El Stack</h1>
        <p>Al igual que el albañil, los desarrolladores contamos con herramientas, que definen buena parte del perfil de calidad y dedicacion aplicados en sus proyectos.</p>
        <hr>
        <div class="font-small">
          <p class="mb-2 mt-4 font-weight-bolder">Herramientas:</p>
          <ul class="pl-3 mb-0">
            <li>Scripting bajo Python, Bash y Batch</li>
          </ul>
          <ul class="pl-3" style="columns: 2">     
            <li>CodePen, Stackblitz</li>
            <li>Adobe CC / GIMP</li>
            <li>Visual Studio Code</li>
            <li>Figma</li>
            <li>Trello</li>
            <li>GitHub</li>
            <li>Postman</li>
            <li>StarUML</li>
            <li>HackMD</li>
            <li>RegExr</li>
            <li>Ngrok</li>
            <li>Lapiz y Papel</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-8 pl-5 pr-0">
        <div class="skills__slideshow rounded-lg mt-n4 pr-5">
          <div class="swiper-wrapper p-4">
              <div class="swiper-slide skill__card shadow-lg bg-light p-4" data-aos="fade-up" data-aos-anchor=".skills__slideshow">
                <div class="heading text-center">
                  <i class="icon-embed2 icon--lg"></i>
                  <h4 class="mt-3">Frontend</h4>
                  <small class="text-muted">Sitios web bajo CMS, estaticos y aplicaciones web modernas.</small>
                </div>
                <ul class="mt-3 pl-3">
                  <li>HTML, CSS3, JS(ES9)</li>
                  <li>SASS, TypeScript</li>
                  <li>VueJS + Vuex / React + Context / Angular (2+)</li>
                  <li>CMS y Otros stacks: Wordpress, Webflow, Gatsby</li>
                  <li>Tambien: Bootstrap 4+, Foundation, Lottie</li>
                </ul>
              </div>
              <div class="swiper-slide skill__card shadow-lg bg-light p-4" data-aos="fade-up" data-aos-delay="150" data-aos-anchor=".skills__slideshow">
                <div class="heading text-center">
                  <i class="icon-library icon--lg"></i>
                  <h4 class="mt-3">Backend</h4>
                  <small class="text-muted">APIs Stateful / Stateless, Push Messaging y Microservicios.</small>
                </div>
                <ul class="mt-3 pl-3">
                  <li>NodeJS, Python, PHP, Java, .NET</li>
                  <li>Express, Django, Flask, Laravel, CakePHP, Spring Boot, ASP.Net Core</li>
                  <li>Bases de datos: MongoDB, MariaDB, Redis, PostgreSQL</li>
                  <li>Microservicios: Eureka / Zuul</li>
                </ul>
              </div>
              <div class="swiper-slide skill__card shadow-lg bg-light p-4" data-aos="fade-up" data-aos-delay="300" data-aos-anchor=".skills__slideshow">
                <div class="heading text-center">
                  <i class="icon-mobile icon--lg"></i>
                  <h4 class="mt-3">Moviles</h4>
                  <small class="text-muted">Aplicaciones moviles nativas y multiplataforma</small>
                </div>
                <ul class="mt-3 pl-3">
                  <li>Apache Cordova</li>
                  <li>Ionic</li>
                  <li>Xamarin Forms</li>
                  <li>React Native</li>
                  <li>Android (Java + Kotlin)</li>
                </ul>
              </div>
              <div class="swiper-slide skill__card shadow-lg bg-light p-4" data-aos="fade-up" data-aos-delay="450" data-aos-anchor=".skills__slideshow">
                <div class="heading text-center">
                  <i class="icon-display icon--lg"></i>
                  <h4 class="mt-3">Escritorio</h4>
                  <small class="text-muted">Aplicaciones profesionales de escritorio con soporte multiplataforma</small>
                </div>
                <ul class="mt-3 pl-3">
                  <li>Electron</li>
                  <li>Progressive Web Apps</li>
                  <li>Xamarin Forms</li>
                </ul>
              </div>
              <div class="swiper-slide skill__card shadow-lg bg-light p-4" data-aos="fade-up" data-aos-delay="600" data-aos-anchor=".skills__slideshow">
                <div class="heading text-center">
                  <i class="icon-cloud icon--lg"></i>
                  <h4 class="mt-3">Cloud Computing</h4>
                  <small class="text-muted">Despliegue y gestion de soluciones en plataformas de Cloud Computing.</small>
                </div>
                <ul class="mt-3 pl-3">
                  <li>Firebase</li>
                  <li>Heroku</li>
                  <li>Google App Engine</li>
                  <li>AWS Elastic Beanstalk</li>
                </ul>
              </div>
              <div class="swiper-slide skill__card shadow-lg bg-light p-4" data-aos="fade-up" data-aos-delay="750" data-aos-anchor=".skills__slideshow">
                <div class="heading text-center">
                  <i class="icon-pacman icon--lg"></i>
                  <h4 class="mt-3">Game Development</h4>
                  <small class="text-muted">Desarrollo de juegos, simulaciones y escenarios interactivos.</small>
                </div>
                <ul class="mt-3 pl-3">
                  <li>Unity3D</li>
                  <li>ThreeJS</li>
                </ul>
              </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </section>

</section>

{% endblock %}