{% extends "layouts/base.njk" %}

{% block content %} 
  <section class="probootstrap-section-half d-flex probootstrap-no-hover">
    <div class="probootstrap-image" style="background-image: url(img/image_2.jpg)"></div>
    <div class="probootstrap-text d-flex">
      <div class="probootstrap-inner" data-aos="fade-up">
        <h1 class="heading">About Us</h1>
        <p>Hola, soy David Romero. Un chico de 25 años actualmente residiendo en Falcon, Venezuela.</p>
        <p>Me apasiona la programacion como recurso para construir el futuro del mañana, haciendo uso de latecnologia, como el complemento ideal para alcanzar nuevas metas como sociedad.</p>
      </div>
    </div>
  </section>
  <!-- END section -->


  <section class="probootstrap-section">
    <div class="container">
      <div class="row mb-7">
        <div class="col-md-6">
          <h2>#Geekzolanos</h2>
          <p>La iniciativa Geekzolanos, lleva su inspiracion bajo la premisa en que la tecnología, debe ser el complemento ideal para facilitar las tareas cotidianas dentro del estilo de vida de las personas.</p>
          <p>Se enfoca en proporcionar a personas sin un elevado conocimiento técnico, de soluciones que les facilite la interacción con dichos recursos, obteniendo respuestas rápidas y precisas a sus requerimientos.</p>
        </div>
        <div class="col-md-6">
          <h2>Desarrollo Full Stack</h2>
          <p>Bajo la premisa del Desarrollo Full Stack, he colaborado con empresas bajo modalidad a distancia para la construcción de soluciones completas a la medida de los requerimientos del cliente.</p>
          <p>Asimismo, durante estos años me he desempeñado en el ámbito del Freelancing, el cual ofrece la oportunidad única de tener una interacción directa con el cliente. Poniendo a prueba conocimientos, y permitiendo adquirir nuevos en el camino.</p>
        </div>
      </div>
      <!--<ul class="probootstrap-social">
            <li><a href="#"><i class="icon-facebook2"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
            <li><a href="#"><i class="icon-instagram2"></i></a></li>
          </ul>-->
    </div>
  </section>
  <!-- END section -->
{% endblock %}