<section class="probootstrap-section-half">
  <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(img/image_1.jpg)"></div>
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate">
      <h1 class="heading">Pouring Milk In Hand</h1>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p><a href="single-page.html" class="btn btn-primary">View Case Study</a></p>
    </div>
  </div>
</section>
<!-- END section -->
<section class="probootstrap-section-half probootstrap-reverse">
  <div class="probootstrap-image probootstrap-animate"  data-animate-effect="fadeIn" style="background-image: url(img/image_2.jpg)"></div>
  <div class="probootstrap-text">
    <div class="probootstrap-inner probootstrap-animate">
      <h1 class="heading">Ice Cream Sweetness</h1>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p><a href="single-page.html" class="btn btn-primary">View Case Study</a></p>
    </div>
  </div>
</section>
{% extends "layouts/base.njk" %}

{% block content %}

  <section class="probootstrap-section-half">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(img/image_3.jpg)"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">Baloon on the Chair</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <p><a href="single-page.html" class="btn btn-primary">View Case Study</a></p>
      </div>
    </div>
  </section>
  
  {% for pkgKey in featured -%}
    {% include 'components/featured.njk' %}
  {%- endfor %}
  
{% endblock %}