{% extends "layouts/base.njk" %}

{% block content %}

  <section class="probootstrap-section-half d-flex">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(img/image_1.jpg)"></div>
    <div class="probootstrap-text d-flex">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">Pouring Milk In Hand</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <span class="js-counter">800</span>
      </div>
    </div>
  </section>

  <div id="portfolio--header" class="mt-8 text-center">
    <h1 class="mt-5">Todos los proyectos</h1>
    <p>Consulte a continuacion el catalogo de proyectos creados.</p>
  </div>

  <div id="portfolio--filters" class="row justify-content-center w-75 mx-auto my-5">
    <div class="col-3">
      <input id="search-input" type="text" class="form-control" placeholder="Buscar...">
    </div>

    <div class="col-3">
      <select id="portfolio-plt" multiple>
        <option data-placeholder="true">Plataformas (Todas)</option>
        {% for key, meta in platforms -%}
          <option data-icon="{{meta.iconClass}}" value="{{key}}">{{meta.name}}</option>        
        {%- endfor %}
      </select>
    </div>

    <div class="col-3">
      <select id="portfolio-lang" multiple>
        <option data-placeholder="true">Lenguajes (Todos)</option>
        {% for key, name in languages -%}
          <option value="{{key}}">{{name}}</option>        
        {%- endfor %}
      </select>
    </div>  

    <div class="col-3">
      <select id="portfolio-filter">
        <option value="0" selected>Fecha de subida (Mas reciente)</option>
        <option value="1">Fecha de subida (Mas antiguo)</option>
        <option value="2">Alfabeticamente (A-Z)</option>
        <option value="3">Alfabeticamente (Z-A)</option>
      </select>
    </div>
  </div>

  <section id="portfolio-grid">
    {% for key, pkg in packages -%}
      {% include 'components/portfolio-item.njk' %}
    {%- endfor %}
  </section>
{% endblock %}