{% import "macros/meta.njk" as meta %}
{% set pkg = packages[current] %}

{% extends "layouts/base.njk" %}


{% block content %}
<section id="single">  
  <section class="probootstrap-section-half d-flex probootstrap-no-hover">
    {# BEGIN Featured Image #}
    <div class="probootstrap-image d-flex flex-column justify-content-center align-items-center pt-9 pb-5" style="background-color: {{colors[current]}};">
      <div class="single__slideshow">
        <div class="swiper-wrapper">
          {% for i in range(0, pkg.imgs) -%}
            <div class="swiper-slide">
              <div class="slide__container img-container {{'feat-frame' if pkg.flags and 'hasFeaturedFrame' in pkg.flags}}">
                <a href="/img/packages/{{current}}/{{i}}.webp" data-fancybox="slideshow" data-turbolinks="false">
                  <img data-lazyload="true" data-src="/img/packages/{{current}}/{{i}}.webp" />
                </a>
              </div>
            </div>
          {%- endfor %}
        </div>
      </div>

      {% include 'components/single-action.njk' %}
    </div>
    {# END Featured Image #}

    {# BEGIN Featured Content #}
    <div class="probootstrap-text d-flex">
      <div class="probootstrap-inner">
        <div class="heading">
          <h1 class="pb-0 d-inline-block">{{ pkg.name }}</h1>
          <ul class="meta--platforms d-inline-block" data-aos="fade-down-small" data-aos-delay="400">
              {% for pltKey in pkg.platforms -%}
                  {{ meta.pltItem(platforms[pltKey], true) }}
              {%- endfor %}
          </ul>
        </div>

        {% if pkg.languages %}
          <ul class="meta--lang mb-2" data-aos="fade-down-small" data-aos-delay="400">
              {% for langKey in pkg.languages %}
                  {{ meta.langItem(langKey, languages[langKey]) }}
              {% endfor %}
          </ul>
        {% endif %}

        <p class="text-justify">{{ pkg.description }}</p>

        <div class="row row-cols-2 meta--details mt-5">
          <div class="col">
              <h1 class="my-0 text-muted">{{pkg.createdAt | date}}</h1>
              <h6 class="my-0 mt-2 text-muted text-uppercase">Fecha de publicacion</h6>
          </div>
          <div class="col">
              <h1 class="my-0 text-muted">{{pkg.version}}</h1>
              <h6 class="my-0 mt-2 text-muted text-uppercase">Version</h6>
          </div>
        </div>
      </div>
    </div>
    {# END Featured Content #}
  </section>

  <section class="probootstrap-section px-4">
    <div class="container">
      <div class="row row-cols-md-3 row-cols-1">        
        <div class="col align-self-center">
          <h1 class="features__heading">Caracteristicas</h1>
        </div>
        {% for feature in pkg.features -%}
          <div class="col" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 200 }}">          
            <div class="service left-icon">
              <div class="icon">
                <i class="{{feature.iconClass}}"></i>
              </div>
              <div class="text text-justify">
                <h3 class="heading">{{feature.title}}</h3>
                <p>{{feature.description}} </p>
              </div>
            </div>
          </div>
        {%- endfor %}
      </div>
    </div>
  </section>
  <!-- END section -->
</section>
{% endblock %}