.featured {
    .meta--lang {
        font-size: 14px;
    }
    
    .btn-featured {
        position: relative;
        border-width: 2px;
        border-style: solid;
        padding-left: 30px;
        padding-right: 30px;
        font-size: .895em;
        transition: background-color 300ms ease;
    
        span {
            display: inline-block;
            transition: transform 300ms ease;
        }
    
        i {
            position: absolute;
            right: 20px;
            top: 34%;
            opacity: 0;
            transform: scale(.4);
            transition: transform 300ms ease, opacity 300ms ease;
        }
    
        &:focus {
            color: black;
        }
    
        &:hover {
            color: white;
    
            span {
                transform: translateX(-10px);
            }
    
            i {            
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    
    [data-aos="fade-down-small"] {
        opacity: 0;
        transform: translateY(-1rem);
        transition-property: transform, opacity;
      
        &.aos-animate {
          opacity: 1;
          transform: none;
        }
    }
}