body {
  line-height: 1.8; // TODO
}

// Typography
h2,
h3,
h4 {
  margin-top: 1.414em;
}

h1 {
  margin-top: 0;
  word-wrap: break-word;
}

ul,
ol,
figure {
  margin-bottom: $paragraph-margin-bottom;
}

.font-small {
  font-size: 0.85em;
}
