@import 'variables';

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "theme";
@import "portfolio";
@import "featured";
@import "single";

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meta--lang,
.meta--platforms {
    margin: 0;
    padding: 0;
    list-style: none;

    li { display: inline-block; }
}

.meta--lang {
    .lang-color {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        vertical-align: -2.5px;
        background-color: gray;
        
        @each $name, $color in $lang-colors {
            &.lang-#{$name} { background-color: $color; }
        }
    }
}

.ss-main,
.ss-main .ss-single-selected,
.ss-main .ss-multi-selected,
.ss-main .ss-add {
    height: 100%;
}

.ss-main {
    font-size: .84em;
}

.ss-main .ss-add {
    margin-top: 14px !important;
}