<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>David Romero - Full Stack Developer</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/style/vendor.min.css">
    <link rel="stylesheet" href="/style/main.min.css">    

    <script src="/scripts/vendor.min.js"></script>
    <script src="/scripts/main.min.js" defer></script>
  </head>
  <body>    
    <div id="probootstrap-loader" data-turbolinks-permanent></div>
      
    <!-- START: header -->
    {% include "components/header.njk" %}
    <!-- END: header -->

    <div class="probootstrap-main">
      {% block content %} {% endblock %}
    </div>

    <!-- START: footer  -->
    {% include "components/footer.njk" %}
    <!-- END: footer -->


    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>
  </body>
</html>