<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>David Romero - Full Stack Developer</title>
    <meta property="og:title" content="David Romero - Full Stack Developer">
    <meta property="og:url" content="https://geekzolanos.github.io/">
    <meta property="og:image" content="/img/favicon-600x600.jpg">
    <meta property="og:description" content="Personal Full Stack Developer Portfolio. Passionate about programming as a resource to build tomorrow's future. Checkout my showcase, contact and more.">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/style/vendor.min.css">
    <link rel="stylesheet" href="/style/main.min.css">    

    <script src="/scripts/vendor.min.js"></script>
    <script src="/scripts/main.min.js" defer></script>
  </head>
  <body>    
    <div id="main__loader" data-turbolinks-permanent></div>
      
    <!-- START: header -->
    {% include "components/header.njk" %}
    <!-- END: header -->

    <div class="main__content container-fluid">
      {% block content %} {% endblock %}
    </div>

    <!-- START: footer  -->
    {% include "components/footer.njk" %}
    <!-- END: footer -->


    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>
  </body>
</html>