{% set pkg = packages[i] %}

<section class="probootstrap-section-half {{ 'probootstrap-reverse' if loop.index % 2 == 0 }}">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-color: {{ colors[i] }}">
        <div class="img-container absolute-center {{'feat-frame' if pkg.flags and 'hasFeaturedFrame' in pkg.flags}}">
            <img data-lazyload="true" data-src="/img/packages/thumbs/{{i}}.webp" />        
        </div>
    </div>
    <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate">
            <h1 class="heading">{{ pkg.name }}</h1>
            <p class="text-justify">{{ pkg.description }}</p>
            <p><a href="single-page.html" class="btn btn-primary">View Case Study</a></p>
        </div>
    </div>
</section>