<footer class="main__footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-weight-light text-white m-0 my-3">Sera un placer atenderle</h2>
        <a class="btn btn-outline-light px-4" href="https://form.jotform.com/200169155350650" target="_blank">Contact</a>
        {% include "components/social.njk" %}
        <h6 class="text-white small mt-3">Diseñado a mano con 💗 © David Romero</h6>
      </div>
    </div>
  </div>
</footer>