<!-- START: header -->
<header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/index.html" class="probootstrap-logo">#Geekzolanos</a>
        
        <a href="#" class="probootstrap-burger-menu d-block d-md-none" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav d-none d-md-block">
            <ul class="probootstrap-main-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="https://form.jotform.com/200169155350650" target="_blank" class="btn btn-outline-primary mr-3">Contact</a></li>
            </ul>
            <div class="extra-text d-block d-md-none text-white"> 
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            </div>
        </nav>
    </div>
</header>
<!-- END: header -->