<ul class="list__social text-center p-0 m-0 mt-4">    
    <li><a href="https://www.linkedin.com/in/david-romero-86227a126/" target="_blank"><i class="icon-linkedin"></i></a></li>
    <li><a href="https://profile.codersrank.io/user/geekzolanos" target="_blank"><i class="icon-embed2"></i></a></li>
    <li><a href="https://github.com/geekzolanos/" target="_blank"><i class="icon-github"></i></a></li>
</ul>